
@media (max-width: 1000px) {
    body {
    }
}

.main_area {
    display: flex;
    margin: 0;
    padding: 0;
    /*background: #ea8c8c;*/
    list-style: none;
    /*   flex-wrap: wrap; */
    justify-content: center;
    align-items: stretch;
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
    /*align-content: space-between;*/

}

.chit_button{
    right: 0;
    position: fixed;
    background-color: grey;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border: 0;
    border-radius: 3px;
    margin-right: 3px;
}

.paragraph_area{
    border: 1px solid #E3E3E3;
    /*max-width: 70%;*/
    padding: 10px;
}

.right_panel {
    border: 1px solid #E3E3E3;
    padding: 10px;
    width: 200px;
    background-color: #ced7d6;
}

.right_panel_battle{
    border: 1px solid #E3E3E3;
    background-color: #ced7d6;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right_panel_battle__enemy {

}

.right_panel_battle__queue {

}

.right_panel_battle__char {

}

.battle{
    width: 70%;
    border: 1px solid #E3E3E3;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.enemies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 50%;
    text-align: center;
}

.enemy {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #b48478;
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
}

.current_fighter{
    border: 1px solid;
}

.inic_button{
    align-self: center;
    width: 80px;
    height: 40px;
}

.log_window {
    align-self: center;
    width: 70%;
    height: 250px;
    border-radius: 10px;
    background-color: #ced7d6;
    padding: 10px;
}

.char_area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 50%;
    text-align: center;
}

.char{
    margin-bottom: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #719f8a;
}

.display_none {
    display: none;
}

/*.paragraph_area::first-letter {*/
    /*float: left;*/
    /*font-size: 2em;*/
    /*font-weight: bold;*/
    /*font-family: cursive;*/
    /*padding-right: 2px;*/
/*}*/